html {
    height:100vh;
    width:100vw;
    position: absolute;
    margin:0;
    /*min-height: 350px;*/
}
body{
    margin:0;
    height:100%;
    width:100%;
    text-align:right;
    background: #111;
    -webkit-app-region: drag;
}

#title-bar {
    position: absolute;
    top: 5px;
    right: 10px;
}

#title-bar a{
    padding: 2px 5px 1px 5px;
    color: #888;
}

#title-bar a:hover{
    color: #aaa;
}

div#container {
    background: #333;
    position: absolute;
    top:30px;
    bottom:5px;
    left:5px;
    right:5px;
    text-align: left;
    /*border-top: 1px solid #888;*/
    padding: 5px;
    -webkit-app-region: no-drag;
    /*min-height: 350px;*/
}

#close-window {
    -webkit-app-region: no-drag;
}

#branchSelector {
    float: Left;
}

.selector {
    margin-right: 10px
}
